* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: black;
    color: white;
    font-family: "Poppins", sans-serif;
}

.navbar {
    position: absolute;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 3% 5%;
    z-index: 10;
}

.navbar_netflix {
    width: 125px;
    height: 100%;
}

.navbar_nav_items {
    display: flex;
    gap: 10px;
}

.netflix_logo {
    width: 100%;
    height: 100%;
}

.language_drop_down {
    background: transparent;
    border: none;
    color: white;
}

.dropdown_container {
    border: 1px solid white;
    padding: 0.4rem;
    border-radius: 4px;
    background: rgba(0, 0, 0, 0.4);
}

.signin_button {
    border: #dc030f;
    background-color: #dc030f;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    height: 35px;
    width: 100px;
}

.hero_bg_image_container {
    width: 100%;
    height: 100%;
}

.hero_bg_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero_bg_overlay {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
}

.hero_card {
    position: absolute;
    top: 30%;
    left: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.hero_title {
    font-weight: 600;
    font-size: 3rem;
}

.hero_subtitle,
.hero_description {
    font-weight: 400;
    font-size: 1.3rem;
}

.email {
    font-weight: 550;
    font-size: 1.3rem;
    width: 470px;
    height: 48px;
    color: white;
    padding: 0.25rem 0.5rem;
    border-radius: 6px;
    border-color: white;
    background-color: rgba(0, 0, 0, 0.4);
}

.get_started {
    font-size: large;
    width: 170px;
    height: 48px;
    background-color: #dc030f;
    border: 1px solid #dc030f;
    border-radius: 6px;
    color: white;
    font-weight: 700;
}

.title-down {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

#eml {
    padding: 1rem 1rem;
    font-size: 1.1rem;
    width: 380px;
    background-color: rgba(0, 0, 0, 0.468);
    border: 1.2px solid rgba(126, 125, 125, 0.811);
    backdrop-filter: blur(5px);
    border-radius: 6px;
    margin-right: 1.5rem;
}

input:focus {
    /* border: none; */
    outline: none;
    color: gray;
    border: 1.2px solid rgba(209, 209, 209, 0.811);

}

.started {
    padding: .8rem;
    font-size: 1.2rem;
    font-weight: 700;
    color: white;
    background-color: rgb(213, 11, 11);
    overflow: hidden;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 6px;
    /* padding-left: 1.2rem; */
}

.card-1,
.card-2,
.card-3 {
    border-top: 8px rgb(69, 69, 69);
    padding: 50px;
}

.card-1 {
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.desc-1 {
    padding-left: 80px;
}

.card-1 video {
    position: relative;
    width: 100%;
    height: 64%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
}

.card-1 img {
    grid-column: 2/2;
    grid-row: 1/2;
}

.style-cards h1 {
    font-size: 3rem;
    padding: 1rem;
    padding-left: 0;
}

.style-cards h3 {
    font-size: 1.6rem;
    line-height: 2rem;
}

.card-2 {
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 50%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.desc-2 {
    padding-left: 40px;
}

.card-3 {
    position: relative;
    display: inline-grid;
    grid-template-columns: 50% 40%;
    text-align: left;
    align-items: center;
    padding: 25px 45px 50px;
}

.desc-3 {
    padding-left: 80px;
    padding-right: 20px;
}

.card-3 img {
    width: 110%;
    grid-column: 2/2;
    grid-row: 1/2;
}

.card-3 video {
    position: relative;
    top: -87px;
    left: 125px;
    width: 65%;
    height: 78%;
    grid-column: 2/2;
    grid-row: 1/2;
    z-index: -1;
}

.blank-space {
    width: 100%;
    height: 8px;
    background-color: #282828;
}

.third-container {
    /* border: 2px solid red; */
    padding: 3rem;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: start;
    padding-left: 12rem;
}

.collapsable {
    background-color: rgb(83, 83, 83);
    color: white;
    cursor: pointer;
    padding: 1.5rem;
    margin-top: .9rem;
    width: 1150px;
    text-align: left;
    outline: none;
    font-size: 21px;
    border: none;
    outline: none;
    transition-duration: .2s;
}

.active,
.collapsable:hover {
    background-color: rgb(38, 38, 38);
}

.content {
    width: 1150px;
    font-size: 18px;
    padding: 1rem 3rem;
    display: none;
    overflow: hidden;
    background-color: rgb(20, 20, 21);
    color: white;
    transition-duration: .2s;

}

.question {
    margin-bottom: 1rem;
    text-align: left;
}

.dwn {
    margin-top: 3rem;
}

.last-in {
    margin-top: 1.5rem;
}

.footer,
.footer a {
    color: #999;
    font-size: 0.9rem;
}

.footer p {
    margin-bottom: 1.5rem;
    padding-left: 195px;
}

.footer .footer-cols {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 2rem;
    padding-left: 195px;
}

.footer li {
    line-height: 1.9;
}

.netflix {
    margin: 2rem 0rem;
}